.history-view {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      width: 100%;
      margin: 20px;
    }
  }
}